.jumbotron {
  background: color(mauve) url(../img/intro.jpg) no-repeat;
  background-size: cover;
  color: color(lightest);

  border-radius: 0;
  height: 100%;

  padding: 9% 0 5% 0;
  margin-bottom: -3rem;

  display: flex;
  align-items: center;

  .jumbotron-content {
    width: 100%;
    padding: 2rem 15px;
    background-color: color(grey);
    background-color: fade-out(color(darker), 0.5);

    .jumbotron-heading {
      color: color(lightest);

      .title {
        font-size: 4rem;
        margin-bottom: 2rem;
        text-align: center;
      }
    }
  }
}
