<nav class="navbar navbar-toggleable-md fixed-top" id="menu">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#main-navbar" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="/" class="navbar-brand" title="php-boilerplate"><img src="/assets/img/logo-32x32.png" alt="php-boilerplate" width="30" height="30">php-boilerplate</a>
  <div class="collapse navbar-collapse" id="main-navbar">
    <ul class="navbar-nav">
      <li class="nav-item smoothscroll">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item smoothscroll">
        <a class="nav-link" href="/posts">Posts</a>
      </li>
      <li class="nav-item smoothscroll">
        <a class="nav-link" href="/tasks">Tasks</a>
      </li>
      <li class="nav-item smoothscroll">
        <a class="nav-link" href="/about">About Us</a>
      </li>
      <li class="nav-item btn btn-primary smoothscroll">
        <a class="nav-link" href="/contact">Contact Us</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/users">Users</a>
      </li>
    </ul>
    <form action="" class="form-inline">
      <label for="search" class="sr-only">Search This Site</label>
      <div class="input-group">
        <input type="text" id="search" class="form-control">
        <label for="submit" class="sr-only">Submit Search Query</label>
        <button id="submit" class="btn input-group-addon"><i class="fa fa-search"></i></button>
      </div>
    </form>
  </div>
</nav>
