{% set title = 'php-boilerplate culture' %}
{% set desc = 'Gulp tasks are used to transpile SASS and Typescript and to watch for changes to TWIG views and delete the cache files' %}

{% extends 'templates/master.twig' %}

{% block jumbotron %}
{% endblock %}

{% block title %}
  About - Culture
{% endblock %}

{% block content %}
  <div class="col-lg-12">
    <p>Our culture</p>
  </div>
{% endblock %}
