{% set title = 'Contact php-boilerplate' %}
{% set desc = 'Ways to get in touch' %}

{% extends 'templates/master.twig' %}

{% block jumbotron %}
{% endblock %}

{% block title %}
  Contact Us
{% endblock %}

{% block content %}
  <div class="col-lg-12">
    <p>How to conact us</p>
  </div>
{% endblock %}
