{% set title = 'Home' %}
{% set desc = 'Welcome to the php-boilerplate' %}

{% extends 'templates/master.twig' %}

{% block jumbotron %}
  {% include 'sections/jumbotron.twig' %}
{% endblock %}

{% block title %}
  Welcome
{% endblock %}

{% block content %}
  <div class="col-lg-12">
    <p>A lean, mean MVC machine with routing. It uses Twig for Views, Sass for CSS and Typescript for JS.</p>
  </div>
{% endblock %}
